body {
    background-color: rgb(29, 29, 29);
    background: radial-gradient(ellipse at top, rgb(28, 24, 94) 15%, rgb(29, 29, 29) 75%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
    color: whitesmoke;
}

button {
    margin: 5px;
    font-size: 75px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 5px solid #9e0000;
}

#ns{
    margin: 0;
    margin-bottom: 20px;
    font-size: 350%;
}
